<div class="footer row">
    <div class="col-md-6">
        <p class="text-left">
            Boletín
            <small id="emailHelp" class="form-text text-muted text-left">Suscribete a nuestro boletín para recibir noticias y promociones.</small>
        </p>
        <form class="row">
            <input type="email" class="form-control col-md-6 col-9" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Correo electrónico">
            <button type="submit" class="btn btn-primary col-md-3 col-3">Suscribirse</button>
        </form>
    </div>
    <div class="col-sm-12 col-md-6 text-right social m-top">
        <span>Síguenos</span>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
    <div class="col-sm-12 text-center m-top">
        <a href="#" class="menu">Contacto/</a>
        <a href="#" class="menu">Aviso de privacidad/</a>
        <a href="#" class="menu">Terminos y condiciones</a>
    </div>
    <div class="col-sm-12 text-center m-top">
        Authentic Ruffian <i class="far fa-registered"></i> 2019
    </div>
    <div class="col-sm-12 text-center m-top">
        Sitio diseñado por <a href="#">WebTrouble</a> <i class="far fa-copyright"></i>
    </div>
</div>